<div class="button-container buttons pb-6">
    <pp-export-button
        buttonText="Export to LaTeX"
        [isLoading]="(loading$ | async) === 'latex'"
        (exportResult)="exportResult.emit($event)"
        mode="latex"
        i18n-buttonText
    />
    <pp-export-button
        buttonText="Export to PDF"
        [isLoading]="(loading$ | async) === 'pdf'"
        (exportResult)="exportResult.emit($event)"
        mode="pdf"
        i18n-buttonText
    />
    <pp-export-button
        buttonText="Open in Overleaf"
        [isLoading]="(loading$ | async) === 'overleaf'"
        (exportResult)="exportResult.emit($event)"
        textBelow="Requires an Overleaf account."
        mode="overleaf"
        i18n-buttonText
        i18n-textBelow
    />
    <pp-export-button
        buttonText="Export JSON"
        [isLoading]="(loading$ | async) === 'proof'"
        (exportResult)="exportResult.emit($event)"
        mode="proof"
        i18n-buttonText
    />
</div>
