.svg-container {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    /*padding-bottom: 100%;*/
    vertical-align: top;
    /*overflow: visible;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* Added by CDH */

body {
    padding: 3rem 3rem;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.header {
    font-size: 2em;
    color: hsl(0, 0%, 21%);
    font-weight: 600;
    line-height: 1.125;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-bottom: 3rem;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2rem;
}

.button-wrapper button {
    padding: 0.5rem 1rem;
}

.button-wrapper input {
    height: 100%;
}

.position-wrapper {
    display: flex;
    align-items: center;
}

.button {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    line-height: 1.5;
    user-select: none;
}

.button:hover {
    background-color: #00c4a7;
}
