<td colspan="5">
    <ul class="sample-list mb-2">
        @for (sample of samples(); track $index) {
        <li class="sample-item">
            <p>{{ $index + 1 }}</p>
            <p class="phrase-list mx-2">
                @for (phrase of sample.phrases; track phrase.index) {
                <span [class.highlight]="phrase.highlight"
                    >{{ phrase.display }}
                </span>
                }
            </p>
            <a
                [routerLink]="getSampleURL(sample.name)"
                class="button is-primary"
                i18n
            >
                Go to sample
            </a>
        </li>
        }
    </ul>
    @if (loading) {
        <p i18n>Loading samples...</p>
    }
    @else if (!allSamplesLoaded()) {
    <button
        class="button button-primary"
        type="button"
        (click)="loadSamples()"
    >
        Load more
    </button>
    }
</td>
