<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 i18n>References</h1>
            <ul>
                <li>
                    Kogkalidis, K. (2023).
                    <a
                        href="https://www.lotpublications.nl/dependency-as-modality-parsing-as-permutation"
                    >
                        <i
                            >Dependency as Modality, Parsing as Permutation</i
                        > </a
                    >. Netherlands Graduate School of Linguistics
                    <a href="https://folli.info/?page_id=74"
                        >(E. W. Beth Dissertation Prize, FoLLI)</a
                    >.
                </li>

                <li>
                    Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2023).
                    <a href="https://aclanthology.org/2023.eacl-demo.15/"
                        >SPINDLE: Spinning Raw Text into Lambda Terms with Graph
                        Attention.</a
                    >
                    In D. Croce &#38; L. Soldaini (Eds.),
                    <i
                        >Proceedings of the 17th Conference of the European
                        Chapter of the Association for Computational
                        Linguistics: System Demonstrations</i
                    >
                    (pp. 128–135). Association for Computational Linguistics.
                </li>

                <li>
                    Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2020).
                    <a href="https://aclanthology.org/2020.conll-1.3/"
                        >Neural Proof Nets.</a
                    >
                    In R. Fernández &#38; T. Linzen (Eds.),
                    <i
                        >Proceedings of the 24th Conference on Computational
                        Natural Language Learning</i
                    >
                    (pp. 26–40). Association for Computational Linguistics.
                </li>

                <li>
                    Kogkalidis, K., Moortgat, M., &#38; Moot, R. (2020).
                    <a href="https://aclanthology.org/2020.lrec-1.647/"
                        >ÆTHEL: Automatically Extracted Typelogical Derivations
                        for Dutch.</a
                    >
                    In N. Calzolari, F. Béchet, P. Blache, K. Choukri, C. Cieri,
                    T. Declerck, S. Goggi, H. Isahara, B. Maegaard, J. Mariani,
                    H. Mazo, A. Moreno, J. Odijk, &#38; S. Piperidis (Eds.),
                    <i
                        >Proceedings of the Twelfth Language Resources and
                        Evaluation Conference</i
                    >
                    (pp. 5257–5266). European Language Resources Association.
                </li>

                <li>
                    Kogkalidis, K., &#38; Moortgat, M. (2023).
                    <a href="https://aclanthology.org/2023.clasp-1.13/"
                        >Geometry-Aware Supertagging with Heterogeneous Dynamic
                        Convolutions.</a
                    >
                    In E. Breitholtz, S. Lappin, S. Loaiciga, N. Ilinykh, &#38;
                    S. Dobnik (Eds.),
                    <i
                        >Proceedings of the 2023 CLASP Conference on Learning
                        with Small Data (LSD)</i
                    >
                    (pp. 107–119). Association for Computational Linguistics.
                </li>
                <li>
                    Van Noord, G. <i>et al.</i> (2013).
                    <a
                        href="https://link.springer.com/chapter/10.1007/978-3-642-30910-6_9"
                        >Large Scale Syntactic Annotation of Written Dutch:
                        Lassy</a
                    >. In P. Spyns &#38; J. Odijk (Eds.),
                    <i
                        >Essential Speech and Language Technology for Dutch,
                        Results by the STEVIN-programme, Theory and Applications
                        of Natural Language Processing</i
                    >
                    (pp. 147–164). Springer.
                </li>
            </ul>

            <h2 i18n>Source code</h2>
            <ul>
                <li>
                    <a href="https://github.com/konstantinosKokos/aethel"
                        >Æthel (GitHub)</a
                    >: backend code for the definition and representation of
                    proof-derivations, and their extraction from Lassy- and
                    Alpino-style parses.
                </li>
                <li>
                    <a href="https://github.com/konstantinosKokos/spindle"
                        >Spindle (GitHub)</a
                    >: backend code for the neural proof search engine.
                </li>
                <li>
                    <a
                        href="https://github.com/CentreForDigitalHumanities/parseport"
                        >ParsePort (GitHub)</a
                    >: frontend and backend code for this web application.
                </li>
            </ul>
        </div>
    </div>
</div>
