.button {
    min-width: 200px;
}

.button-text {
    &.with-icon {
        margin-left: 0.5em;
    }

    &.invisible {
        visibility: hidden;
    }
}

.logo {
    max-height: 75%;
}

.latex-button {
    background-color: black;
    color: white;

    .icon {
        width: 40px;
    }
}

.overleaf-button {
    background-color: #47a141;
    color: white;
}

.pdf-button {
    background-color: #ff0000;
    color: white;
}

.proof-button {
    background-color: #4444ca;
    color: white;
}
