<!DOCTYPE html>
<html class="theme-light">
    <head>
        <title>Graph visualization</title>

        {% comment %} <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        /> {% endcomment %}
        <link
            rel="stylesheet"
            type="text/css"
            href="/vulcan-static/style.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script
            type="text/javascript"
            src="https://d3js.org/d3.v5.min.js"
        ></script>
    </head>

    <body>
        <h1 class="header">VULCAN visualization</h1>
        <div id="headerId"></div>
        <div class="button-wrapper">
            <button id="previousButton" class="button is-primary" type="button">
                &lt;Previous
            </button>
            <button id="nextButton" class="button is-primary" type="button">
                Next&gt;
            </button>
            <!--input text field with width 50 and right alignment-->
            <!--restricting to numbers as per
        https://stackoverflow.com/questions/13952686/how-to-make-html-input-tag-only-accept-numerical-values
         (somewhere a bit down)-->
            <input
                style="text-align: right"
                type="text"
                size="5"
                id="corpusPositionInput"
                value="0"
                onkeypress="
        return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            />
            <div style="display: inline" id="corpusPositionText"></div>
            <button id="searchButton" class="button is-primary" type="button">
                Search
            </button>
            <button
                id="clearSearchButton"
                class="button is-primary"
                type="button"
            >
                Clear Search
            </button>
        </div>

        <p>We can put additional text here</p>

        <div id="chartId"></div>

        <script
            type="application/javascript"
            src="/vulcan-static/definitions.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/node.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/graph.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/table.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/label_alternatives.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/mouseover_texts.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/search.js"
        ></script>
        <script
            type="application/javascript"
            src="/vulcan-static/baseScript.js"
        ></script>
    </body>
</html>
