<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 i18n>Minimalist Parser</h1>

            <p i18n>
                Welcome to the Minimalist Parser, developed by Meaghan Fowlie at
                Utrecht University. This parser has been trained to analyze the
                syntax of English sentences and provide minimalist-style tree
                diagrams using the Vulcan visualisation tool.
            </p>

            <i>More info coming soon!</i>
        </div>
    </div>
</div>
