<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <article>
                <h1 i18n>Minimalist Parser</h1>

                <section class="mt-4">
                    <header>
                        <h2 i18n>Quick start</h2>
                    </header>

                    <div class="button-group">
                        <pp-icon-button
                            [icon]="icons.parse"
                            label="Parse sentence"
                            i18n-label
                            size="large"
                            [routerLink]="['/', 'minimalist-parser', 'parse']"
                            variant="purple"
                            ariaDescribedBy="parse-description"
                            description="Make the model automatically generate a 'minimalist derivation tree' for a sentence."
                            i18n-description
                        />
                        <pp-icon-button
                            [icon]="icons.browse"
                            label="Browse sentences"
                            i18n-label
                            size="large"
                            [routerLink]="['/', 'minimalist-parser', 'browse']"
                            variant="teal"
                            ariaDescribedBy="browse-description"
                            description="Explore an already parsed corpus."
                            i18n-description
                        />
                        <pp-icon-button
                            [icon]="icons.about"
                            label="About"
                            i18n-label
                            size="large"
                            [routerLink]="['/', 'minimalist-parser', 'about']"
                            variant="coral"
                            ariaDescribedBy="about-description"
                            description="See a more detailed explanation of the visualisations."
                            i18n-description
                        />
                    </div>
                </section>

                <section class="mt-6">
                    <header>
                        <h2 i18n>Project</h2>
                    </header>
                    <p i18n>
                        This is a parser developed by Meaghan Fowlie at Utrecht
                        University. It produces syntactic parses of English
                        sentences in accordance with the framework of Chomskyan
                        Minimalism.
                    </p>
                    <p i18n>
                        The model in this demo is trained on about 80,000
                        sentences mostly from the Wall Street Journal. The trees
                        are derived from
                        <a
                            href="https://aclanthology.org/E17-3021/"
                            target="_blank"
                            >John Torr's MGBank (opens in a new tab)</a
                        >
                    </p>
                    <p i18n>
                        For more details, go to
                        <a [routerLink]="['/', 'minimalist-parser', 'about']"
                            >About</a
                        >.
                    </p>
                </section>
            </article>
        </div>
    </div>
</div>
