<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 i18n>Minimalist Parser</h1>

            <p i18n>
                Click the button below to browse through a pre-parsed corpus
                consisting of 100 sentences taken from the Wall Street Journal.
            </p>

            @if (statusOk$ | async) {
            <button
                type="button"
                class="button is-primary with-text-below"
                (click)="navigateToVulcan()"
            >
                <span i18n>Start browsing</span>
                <fa-icon size="sm" class="ml-3" [icon]="icons.openInNewTab" />
                <span class="text-below" i18n>This will open a new tab.</span>
            </button>
            } @else {
            <p class="notification mt-6" i18n>
                The Vulcan visualization tool is temporarily unavailable.
            </p>
            }
        </div>
    </div>
</div>
