<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 i18n>About Minimalist Parser</h1>

            <p i18n>
                Minimalist Parser is a parser developed by Meaghan Fowlie at
                Utrecht University. It produces syntactic parses of English
                sentences in accordance with the framework of Chomskyan
                Minimalism.
            </p>

            <h2 i18n>Demonstrated parse</h2>

            <i i18n>
                Coming soon: an example of a parse produced by Minimalist
                Parser.
            </i>
        </div>
    </div>
</div>
